<html>
    <head>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/main.css">
        <title>File Uploader</title>
    </head>
    <body>
        <%-include('partials/header')%>

        <section class="main">
            <nav class="left-side">
                <div class="nav-btns">
                    <a href=<%=locals.isShared ? locals.sharedLink : '/' %> class="btn hoveredBtn">
                        <img src="/assets/icons/home.svg" alt="home">
                        Home
                    </a>

                    <div id="newFolderBtn" class="btn">
                        <img src="/assets/icons/documents.svg" alt="new-folder">
                        New Folder
                    </div>

                    <div id="newFileBtn" class="btn">
                        <img src="/assets/icons/upload.png" alt="new-file">
                        Upload File
                    </div>

                    <%if(locals.rootFolder){%>
                        <div id="shareFolderBtn" class="btn">
                            <img src="/assets/icons/share-folder.png" alt="share-folder">
                            Share
                        </div>
                        <div id="deleteFolderBtn" class="btn">
                            <img src="/assets/icons/trash.svg" alt="delete">
                            Delete
                        </div>
                    <%}%>

                </div>
                
                <div class="about">
                    <div class="big-files-logo">
                        <img src="/assets/images/files-2.png" alt="big-files">
                    </div>

                    <div class="info">
                        <span>Created by </span><a href="https://github.com/TahraouiMustapha" target="_blank">Tahraoui mustapha</a> 
                        <span>Design inspired by</span> <a href="https://www.youtube.com/watch?v=lie0cr3wESQ&t=178s" target="_blank">Js Mastery</a>
                    </div>
                </div>

            </nav>

            <div class="main-content">
                <div class="navigation-state">
                    <%if(locals.path) {%>
                        <p>
                            <a href="/"><%=user.username%></a> 
                            <%path.forEach(pathObj => {%>
                                <%='>'%> <a href=<%=pathObj.folderHref%>> <%=pathObj.folderName%></a>
                            <%})%>
                        </p>
                    <%} else {%>
                            <p><a href="/"><%=user.username%></a></p>
                    <%}%> 
                </div>

                <%if(!locals.rootFolder){ %>
                    <div class="storage" style="--percent:<%=locals.percent%>; ">
                        <div class="circular">
                            <div class="outer">
                                <div class="inner">
                                    <div class="number">
                                        <p><%=locals.spaceUsed%>%</p>
                                        Space used
                                    </div>
                                </div>
                            </div>
                            
                            <!-- under circle to color the gap  -->
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                    <circle cx="80" cy="80" r="70" stroke-linecap="round" class="gap-circle"/>
                            </svg>

                            <!-- circle for available storage -->
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                    <circle cx="80" cy="80" r="70" stroke-linecap="round"  class="main-circle"/>
                            </svg>


                        </div>
                        
                        <div class="available-storage">
                            <h3>Available storage</h3>
                            <p><%=locals.spaceUsedInGb%>GB/10GB</p>
                        </div>
                    </div>
                <%}%>
                <%if(userFiles) {%>
                       <div class="files-container">
                           <%-include('partials/folderContent')%>
                       </div>
                   <%} else {%>
                       <div class="message-no-files">
                           <%if(locals.rootFolder) { %>
                               <p>no files or folders to display</p>
                           <%} else { %>
                               <p>Create a new folder to get started</p>
                           <%}%>
                       </div>
                   <%}%>

                   <!-- file Operations dialog-->
                <%if(locals.clickedFile) {%>
                    <dialog id="file-operations">
                        <div>
                            <h3 class="file-name">
                                <p><%=clickedFile.name%></p>
                                <button id="closeFileOptions">
                                    <img src="/assets/icons/close.svg" alt="close">
                                </button>
                            </h3>
                            <div class="operations">
                                <ul>
                                    <li>
                                        <button id="file-option-details">
                                            <img src="/assets/icons/info.svg" alt="details" class="icon">
                                            <p class="operation">Details</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button id="shareFileBtn">
                                            <img src="/assets/icons/share.svg" alt="share" class="icon">
                                            <p class="operation">Share</p>
                                        </button>
                                    </li>
                                    <li>
                                        <a href="/files/download/<%=clickedFile.fileid%>">
                                            <img src="/assets/icons/download.svg" alt="download" class="icon">
                                            <p class="operation">Download</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/files/delete/<%=clickedFile.fileid%>">
                                            <img src="/assets/icons/delete.svg" alt="delete" class="icon">
                                            <p class="operation">Delete</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </dialog>

                    <dialog id="file-details">
                        <div>
                            <div class="head">
                                <p>Details</p>
                                <button id="closeFileDetails">
                                    <img src="/assets/icons/close.svg" alt="close">
                                </button>
                            </div>

                            <div class="details">
                                <div class="name-container">
                                    <p class="name"><%=clickedFile.name%></p>
                                    <p class="date"><%=clickedFile.createdDate%></p>
                                </div>

                                <div class="inner-details">
                                    <ul>
                                        <li>
                                            <p>Uplaoded date:</p>
                                            <span><%=clickedFile.createdDate%></span>
                                        </li>
                                        <li>
                                            <p>Type:</p>
                                            <span><%=clickedFile.mimetype%></span>
                                        </li>
                                        <li>
                                            <p>Size:</p>
                                            <span><%=clickedFile.size%></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </dialog>

                    <script>
                        const fileOperations = document.querySelector('#file-operations');
                        const closeFileOptions = document.querySelector('#closeFileOptions');

                        fileOperations.showModal()
                        closeFileOptions.addEventListener('click', ()=> fileOperations.close())

                        const fileOptionsDetailsBtn = document.querySelector('#file-option-details');
                        const fileDetailsDialog = document.querySelector('#file-details')
                        fileOptionsDetailsBtn.addEventListener('click', ()=> {
                            fileOperations.close()
                            fileDetailsDialog.showModal()
                        })


                        const closeFileDetails = document.querySelector('#closeFileDetails');
                        closeFileDetails.addEventListener('click', ()=> {
                            fileDetailsDialog.close();
                        })

                    </script>
                <%}%>    
            </div>

            <!-- new folder form -->
            <%-include('partials/newFolderForm')%>

            <!-- uplaod file form -->
            <%-include('partials/uploadFileForm')%>
             <%if(messages.dialog == 'upload'){ %>
                <script>
                    const newFileDialog = document.querySelector('#newFileDialog');
                    newFileDialog.showModal()
                </script>
            <%}%>

        
            
            <%if(locals.rootFolder) {%>
                <!-- delete folder dilaog -->
                <%-include('partials/deleteFolder', { folderid: rootFolder.folderid })%>
                <!-- dialog for generating a shared folder link -->
                <%-include('partials/shareFolder', { folderid: rootFolder.folderid })%>
                <%if(messages.generatedLink) {%>
                    <script>
                        const shareFolderDialog = document.querySelector('#shareFolderDialog') 
                        shareFolderDialog.showModal()
                    </script>
                <%}%>    
    
            <%}%>

            <!-- dialog for generating a shared file link -->
            <%if(locals.clickedFile){ %>
                <%-include('partials/shareFile', {fileid: clickedFile.fileid})%>
                <%if(messages.generatedFileLink) {%>
                    <script>
                        const shareFileDialog = document.querySelector('#shareFileDialog')
                        shareFileDialog.showModal()
                    </script>
                <%}%>                    
            <%}%>    
        </section>

    </body>
    <script>
        const newFileBtn = document.getElementById('newFileBtn');
        const exitNewFileBtn = document.getElementById('exitNewFileBtn');


        const newFolderBtn = document.querySelector('#newFolderBtn');
        const newFolderDialog = document.querySelector('#newFolderDialog');
        const exitNewFolderBtn = document.querySelector('#exitNewFolderBtn')
        const folderNameInput = document.querySelector('input[name = \"folderName\"]')

        const deleteFolderBtn = document.querySelector('#deleteFolderBtn');
        const deleteDialog = document.querySelector('#deleteDialog');
        const cancelDelete = document.querySelector('#cancelDelete');
        const exitDeleteDialog = document.querySelector("#exitDeleteDialog")

        // for share folder dilaog
        const shareFolderBtn = document.querySelector('#shareFolderBtn')
        if(typeof shareFolderDialog === "undefined") {
            const shareFolderDialog = document.querySelector('#shareFolderDialog') 
        }
        const exitShareDialogBtn = document.querySelector('#exitShareDialogBtn')
        const cancelSharing = document.querySelector('#cancelSharing')

        // for share file dialog
        const shareFileBtn = document.querySelector('#shareFileBtn')
        if(typeof shareFileDialog === "undefined" ) {
            const shareFileDialog = document.querySelector('#shareFileDialog')
        }
        const cancelShareFile = Array.from(document.querySelectorAll('.cancelShareFile'))
        
 
        if(newFileBtn){
            newFileBtn.addEventListener('click', ()=> {
                newFileDialog.showModal()
            })
        }

        if(newFolderBtn){
            newFolderBtn.addEventListener('click', ()=> {
                newFolderDialog.showModal()
            })
        }

        exitNewFileBtn.addEventListener('click', ()=> {
            newFileDialog.close()
        })

        exitNewFolderBtn.addEventListener('click', ()=> {
            folderNameInput.value = ''
            newFolderDialog.close()
        })

        // about ensuring the delete process
        if(deleteFolderBtn) {
            deleteFolderBtn.addEventListener('click', ()=> {
                deleteDialog.showModal()
            })
        }

        if(cancelDelete) {
            cancelDelete.addEventListener('click', ()=> {
                deleteDialog.close()
            })
        }

        if(exitDeleteDialog) {
            exitDeleteDialog.addEventListener('click', ()=> {
                deleteDialog.close()
            })
        }


        if(shareFolderBtn) {
            shareFolderBtn.addEventListener('click', ()=> {
                if(shareFolderDialog) {
                    shareFolderDialog.showModal()
                }
            })
        }

        if(exitShareDialogBtn && cancelSharing) {
            [exitShareDialogBtn, cancelSharing ].forEach(btn => {
                btn.addEventListener('click', ()=> {
                    shareFolderDialog.close()
                })
            })
        }

        if(shareFileBtn) {
            shareFileBtn.addEventListener('click', ()=> {
                shareFileDialog.showModal()
            })
        }

        if(cancelShareFile.length > 0) {
            cancelShareFile.forEach(btn => {
                btn.addEventListener('click', ()=> {
                    shareFileDialog.close()
                })
            })
        }
    </script>
</html>