<html>
    <head>
        <title>dome</title>
    </head>
    <body>
        <%-include('partials/header')%>
        
        <%if (locals.user) {%>
            <button id="newFileBtn">New file</button>
            <button id="newFolderBtn">New folder</button>
            <%if(locals.rootFolder){%>
                <button id="deleteFolderBtn">Delete Folder</button>
            <%}%>    

            <div>
                <p><%=user.username%>  <%= locals.path ? path : null %></p>
                <%if(userFiles) {%>
                    <%-include('partials/folderContent')%>
                <%} else {%>
                    <%if(locals.rootFolder) { %>
                        <p>no files or folders to display</p>
                    <%} else { %>
                        <p>Create a new folder to get started</p>  
                    <%}%>  
                <%}%>                    
            </div>

        <%}%>     
        
        <!-- uplaod file form -->
        <%-include('partials/uploadFileForm')%>

        <!-- new folder form -->
        <%-include('partials/newFolderForm')%>

        <!-- delete folder dilaog -->
        <%if(locals.rootFolder) {%>
            <%-include('partials/deleteFolder', { folderid: rootFolder.folderid })%>
        <%}%>    

    </body>
    <script>
        const newFileBtn = document.getElementById('newFileBtn');
        const newFileDialog = document.querySelector('#newFileDialog');
        const exitNewFileBtn = document.getElementById('exitNewFileBtn');


        const newFolderBtn = document.querySelector('#newFolderBtn');
        const newFolderDialog = document.querySelector('#newFolderDialog');
        const exitNewFolderBtn = document.querySelector('#exitNewFolderBtn')
        const folderNameInput = document.querySelector('input[name = \"folderName\"]')

        const deleteFolderBtn = document.querySelector('#deleteFolderBtn');
        const deleteDialog = document.querySelector('#deleteDialog');
        const cancelDelete = document.querySelector('#cancelDelete');
        const exitDeleteDialog = document.querySelector("#exitDeleteDialog")


 
        if(newFileBtn){
            newFileBtn.addEventListener('click', ()=> {
            newFileDialog.showModal()
            })
        }

        if(newFolderBtn){
            newFolderBtn.addEventListener('click', ()=> {
            newFolderDialog.showModal()
            })
        }

        exitNewFileBtn.addEventListener('click', ()=> {
            newFileDialog.close()
        })

        exitNewFolderBtn.addEventListener('click', ()=> {
            folderNameInput.value = ''
            newFolderDialog.close()
        })

        // about ensuring the delete process
        if(deleteFolderBtn) {
            deleteFolderBtn.addEventListener('click', ()=> {
                deleteDialog.showModal()
            })
        }

        cancelDelete.addEventListener('click', ()=> {
            deleteDialog.close()
        })

        exitDeleteDialog.addEventListener('click', ()=> {
            deleteDialog.close()
        })

    </script>
</html>