<html>
    <head>
        <title>dome</title>
    </head>
    <body>
        <%-include('partials/header')%>
        
        <%if (locals.user) {%>
            <button id="newFileBtn">New file</button>
            <button id="newFolderBtn">New folder</button>
            <%if(locals.rootFolder){%>
                <button id="deleteFolderBtn">Delete Folder</button>
            <%}%>    

            <div>
                <p><%=user.username%>  <%= locals.path ? path : null %></p>
                <%if(userFiles) {%>
                    <%-include('partials/folderContent')%>
                <%} else {%>
                    <%if(locals.rootFolder) { %>
                        <p>no files or folders to display</p>
                    <%} else { %>
                        <p>Create a new folder to get started</p>  
                    <%}%>  
                <%}%>                    
            </div>

        <%}%>     

        <!-- aside to appear file info -->
         <%if(locals.clickedFile) {%>
            <aside class="side" id="sideOfFileInfo">
                <div class="head">
                    <h2>File Information</h2>
                    <button id="closeSide">X</button>
                </div>
                <p>Name: <%=clickedFile.name%></p>


                <div class="btns">
                    <a href="/files/download/<%=clickedFile.fileid%>">download</a>
                    <a href="/files/delete/<%=clickedFile.fileid%>">delete</a>
                </div>
            </aside>
        <%}%>
        
        <!-- uplaod file form -->
        <%-include('partials/uploadFileForm')%>

        <!-- new folder form -->
        <%-include('partials/newFolderForm')%>

        <!-- delete folder dilaog -->
        <%if(locals.rootFolder) {%>
            <%-include('partials/deleteFolder', { folderid: rootFolder.folderid })%>
        <%}%>    

    </body>
    <script>
        const newFileBtn = document.getElementById('newFileBtn');
        const newFileDialog = document.querySelector('#newFileDialog');
        const exitNewFileBtn = document.getElementById('exitNewFileBtn');


        const newFolderBtn = document.querySelector('#newFolderBtn');
        const newFolderDialog = document.querySelector('#newFolderDialog');
        const exitNewFolderBtn = document.querySelector('#exitNewFolderBtn')
        const folderNameInput = document.querySelector('input[name = \"folderName\"]')

        const deleteFolderBtn = document.querySelector('#deleteFolderBtn');
        const deleteDialog = document.querySelector('#deleteDialog');
        const cancelDelete = document.querySelector('#cancelDelete');
        const exitDeleteDialog = document.querySelector("#exitDeleteDialog")

        // for side that diplays file info
        const side = document.querySelector('#sideOfFileInfo') 
        const closeSideBtn = document.querySelector('#closeSide')
        
 
        if(newFileBtn){
            newFileBtn.addEventListener('click', ()=> {
            newFileDialog.showModal()
            })
        }

        if(newFolderBtn){
            newFolderBtn.addEventListener('click', ()=> {
            newFolderDialog.showModal()
            })
        }

        exitNewFileBtn.addEventListener('click', ()=> {
            newFileDialog.close()
        })

        exitNewFolderBtn.addEventListener('click', ()=> {
            folderNameInput.value = ''
            newFolderDialog.close()
        })

        // about ensuring the delete process
        if(deleteFolderBtn) {
            deleteFolderBtn.addEventListener('click', ()=> {
                deleteDialog.showModal()
            })
        }

        if(cancelDelete) {
            cancelDelete.addEventListener('click', ()=> {
                deleteDialog.close()
            })
        }

        if(exitDeleteDialog) {
            exitDeleteDialog.addEventListener('click', ()=> {
                deleteDialog.close()
            })
        }

        // close the side 
        if(closeSideBtn) {
            closeSideBtn.addEventListener('click', ()=> {
                side.style.display = 'none'
            })
        }

    </script>
</html>