<html>
    <head>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/main.css">
        <title><%=locals.title || 'Public Folder'%></title>
    </head>
    <body>
        <%-include('partials/header')%>
        <section class="main">
            <div class="left-side">
                <p>Folder shared via puclic link</p>
            </div>
            <div class="main-content">
                <div class="navigation-state">
                    <%if(locals.path) {%>
                        <p>
                            <%path.forEach((pathObj, index) => {%>
                                <%=index > 0 ? '>': null%> <a href=<%=pathObj.folderHref%>> <%=pathObj.folderName%></a>
                            <%})%>
                        </p>
                    <%}%> 
                </div>
                <div class="content">
                        <div class="titles">
                            <div>Name</div>
                            <div>Size</div>
                            <div>Created</div>
                        </div>
                            <%if(locals.userFiles) {%>
                                <div class="files-container">
                                    <%-include('partials/folderContent')%>
                                </div>
                            <%} else {%>
                                <div class="message-no-files">
                                    <p>no files or folders to display</p>
                                </div>
                            <%}%>
                </div>
            </div>

            <!-- aside to appear file info -->
             <%if(locals.clickedFile) {%>
                <aside class="side" id="sideOfFileInfo">
                    <div class="head">
                        <h2>File Information</h2>
                        <button class="closeSide">X</button>
                    </div>
                    <div class="info">
                        <p>
                            <span>Name</span> : <%=clickedFile.name%>
                        </p>
                        <p>
                            <span>Type</span> : <%=clickedFile.mimetype%>
                        </p>
                        <p>
                            <span>Size</span> : <%=clickedFile.size%>
                        </p>
                        <p>
                            <span>Created</span> : <%=clickedFile.createdDate%> 
                        </p>
                    
                    </div>
                    <div class="btns">
                        <button class="closeSide">close</button>
                        <a href="/files/download/<%=clickedFile.fileid%>" id="downloadBtn">download</a>
                    </div>
                </aside>

                <script>
                    const side = document.querySelector('#sideOfFileInfo') 
                    side.style.transform = 'scaleX(1)'
                </script>
            <%}%>
        </section>
    </body>

    <script>
        const closeSideBtn = Array.from(document.querySelectorAll('.closeSide'))

        // close the side 
        if(closeSideBtn.length > 0) {
            closeSideBtn.forEach(btn => {
                btn.addEventListener('click', ()=> {
                    side.style.transform = 'scaleX(0)'
                })
            })
        }
    </script>
</html>